.dropdown-calendar-container {

  .react-calendar {
    width: 100%; /* Passt die Breite des Kalenders an die Breite des Containers an */
    background: #4c5883;
    border: none;


    .react-calendar__month-view__days__day {
      padding: 8px; /* Abstand innerhalb der Tage */
      border-radius: 50%; /* Runde Tage */
    }

    /* Verbergen der nicht zum aktuellen Monat gehörenden Tage */
    .react-calendar__tile--outsideMonth {
      visibility: hidden;
    }

    .react-calendar__navigation button {
      background-color: #f0f0f0;
      border: none;
      border-radius: 50%; /* Macht die Buttons rund */
      color: #333;
      font-size: 24px;
      min-width: 36px;
      min-height: 36px;
      margin: 5px;
      cursor: pointer;
    }

    .react-calendar__navigation button:hover,
    .react-calendar__navigation button:active {
      background-color: #e0e0e0; /* Hintergrundfarbe beim Hover */
    }

    /* Anpassung der Farbe für den heutigen Tag */
    .react-calendar__tile--now {
      background: #9fdf9f; /* Grünliche Hintergrundfarbe für den aktuellen Tag */
      border-radius: 50%; /* Runde Ecken für den aktuellen Tag */
      color: white;
    }

    /* Anpassung der Farbe für den ausgewählten Tag */
    .react-calendar__tile--active {
      background: #0078d4; /* Blaue Hintergrundfarbe für den ausgewählten Tag */
      border-radius: 50%; /* Runde Ecken für den ausgewählten Tag */
      color: white;
    }

    /* Hide navigation buttons and the current month label */
    .react-calendar__navigation {
      display: none;
    }

    .react-calendar__navigation button {
      background-color: #f0f0f0;
      border: none;
      border-radius: 50%; // Ensures the button is round
      color: #333;
      font-size: 24px;
      width: 36px; // Ensure width is the same as height
      height: 36px; // Ensure height is the same as width
      margin: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .react-calendar__navigation button:hover,
    .react-calendar__navigation button:active {
      background-color: #e0e0e0; // Background color on hover/active
    }

    /* If you decide later that you want to keep the label (current month and year) but remove only the buttons */
    .react-calendar__navigation__label {
      display: block; /* or 'flex', depending on your layout */
      justify-content: center; /* Center the label if the parent is flex */
      width: 100%; /* Full width */
      color: #333; /* Style as needed */
    }
  }
}
