.startPage {
  align-content: center;

  .startPageBody {
    width: 80%;

    margin-top: 35%;
    margin-left: 17%;
    margin-right: 5%;

    .flipCards {
    }

    .starterTextBox {
      width: 83%;
      margin-top: 8%;
      background-color: #cddbff;
      border-radius: 20px;
      padding: 10px;

      .starterTextHeader {
        padding: 5px;
        font-weight: bold;
        color: #575757;
      }

      .starterText {
        padding: 10px;
      }
    }
  }
}
