.calendar {

  .burgerMenu-container {
    .burgerMenu {
      margin: 0;
      padding: 0;

      /* make it look decent enough */
      color: #cdcdcd;
      font-family: "Avenir Next", "Avenir", sans-serif;
      position: fixed;
      left: 0;
      top: 18%;
      z-index: 1;
    }
  }

  .page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;

    .calendar-image {
      background-size: cover;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 50%;
    }

  }

  .calendar-container {
    left: 10%;
    padding-top: 15%;
  }

  .calendar-header {
    background-color: #5681FFF4;
  }

}
