
.Calendar-header {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%; // Ensure the container takes full width

  .Image {
    background-size: cover;
    width: 100%;
    height: 400px; // Example fixed height, or you can use something like '50vh'
    object-fit: cover;
    object-position: center; // Adjust as needed
    margin-bottom: 20px;
  }
}

.Header-space {
    height: 800px; // Example fixed height, or you can use something like '50vh'
    width: 100%;
    margin-bottom: 20px;
}

