
.footer {
  position: relative;

  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #230a0a;
  color: #b60909;
  text-align: center;
  z-index: 1000;

  a {
    color: inherit;
  }
}

.footer-space {
  height: 75px;
  width: 100%;
}
