// Footer.scss
.footer {
  flex-shrink: 0; // Prevent the footer from shrinking

  bottom: 0; // Align to the bottom
  left: 0; // Stretch across the left
  right: 0; // Stretch across the right
  width: 100%; // Full width
  background-color: #f8f9fa; // Matches bg-light class
  z-index: 1000; // Ensure it's on top if overlapping issues occur

  @media (max-width: 577px) {
    li {
      margin-top: 10px;
   }
  }

  a {
    color: inherit; // Link color inherits from parent
    text-decoration: none; // No underline
    &:hover {
      text-decoration: underline; // Only underline on hover
    }
  }
}

