#root {
  margin: 0 auto;
  text-align: center;

  .blueCorner {
    top: 35%;
    right: 0;
    width: 50%;
    position: absolute;

    background-color: #6464ce;
  }

  .site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Full viewport height
  }

  .content-wrap {
    flex: 1 0 auto; // This will push the footer down
  }

}

body {
  display: inherit !important;
}




