#root {
  font-family: "Avenir Next", "Avenir", sans-serif;

  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  .blueCorner {
    top: 35%;
    right: 0;
    width: 50%;
    position: absolute;

    background-color: #6464ce;
  }

}



